.portal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin: 30px auto 0;
  

  @media screen and (max-width: 640px){
    flex-direction: column;
  }
}
