.hero {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  box-shadow: 2px 2px 10px gray;
  color: rgb(43, 23, 5);
  @media screen and (max-width: 640px) {
    min-width: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }

  img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 2px 2px 20px gray;
    @media screen and (max-width: 640px) {
      min-width: 80%;
    }
  }
  .title {
    font-family: "New", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    max-width: 300;
    margin: 0 auto;
  }
}
