.youtube-video {
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
  padding: 35px;
  background: #2F2E2E;
}

.bigpicture.link.picture img {
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  border-style: none;
}