.authors-container {
  display: flex;
  flex-wrap: wrap;
}

.author-info {
  max-width: 250px;
  width: 100%;
  text-align: center;
}

.author-info:hover {
  cursor: pointer;
}

.author-foto {
  width: 195px;
  height: 190px;
}

.author-description {
  text-align: justify;
}
