.authors-container {
  display: flex;
  flex-wrap: wrap;
}

.author-info:hover {
  cursor: pointer;
}

.author-foto {
  width: 195px;
  height: 190px;
}

.image-gallery {
  display: flex;
  margin: 0 auto;
}

.image-gallery-content {
  position: relative;
  width: 100%;
  line-height: 0;
  top: 0;
}

.image-gallery-slide-wrapper {
  position: relative;
  width: 100%;
}