.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  

  .switchLang {
    img {
      margin: 5px;
      box-shadow: 2px 2px 10px gray;
      &:hover {
        transform: scale(1.2, 1.2);
        cursor: pointer;
      }
      &:active {
        transform: scale(1.1, 1.1);
      }
    }
  }
}
